@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
body{
    font-family: 'Roboto', sans-serif;  
}

input[type=submit] {
    background-color: aquamarine;
    padding: 12px; 
    border-radius: 70%;  
    text-align: center;
    display: inline-block;
    font-size: 20px; 
}